@php
  use function \Src\Helpers\assets;
  use function \Src\Helpers\route;

  $fields = [
    [
      'field' => 'cliente',
      'icon' => 'user.svg',
      'arrow' => true
    ],
    [
      'field' => 'carro',
      'icon' => 'car.svg',
      'arrow' => true
    ],
    [
      'field' => 'ano',
      'icon' => 'calendar.svg',
      'arrow' => true
    ],
    [
      'field' => 'modelo',
      'icon' => 'car-model.svg',
      'arrow' => true
    ],
    [
      'field' => 'serviço',
      'icon' => 'tool.svg',
      'arrow' => false
    ],
    [
      'field' => 'data',
      'icon' => 'calendar.svg',
      'arrow' => true
    ],
  ]
@endphp

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JRC - Página inicial</title>
  <link rel="stylesheet" href="{{assets('css/home.css')}}">
</head>
<body>
  <div class="overlay">
    <!-- FORMULÁRIO PARA EXCLUSÃO DE REGISTRO  -->
    <form action="{{route('client.delete')}}" method="POST" class="delete-form">
      @delete
      <input type="hidden" name="id" value="">
      <h2>Confirme a exclusão</h2>
      <div>
        <p>Tem certeza que deseja apagar os dados de <b></b>?</p>
        <button type="submit">Confirmar</button>
        <button type="reset">Cancelar</button>
      </div>
    </form>
  </div>

  <main>
    <!-- FORMULÁRIO PARA BUSCAS -->
    <form class="search" autocomplete="off">
      <input type="search" name="search" placeholder="Procuper pelo nome do cliente ou carro" />
    </form>

    <a href="{{route('pages.create')}}" class="add">
      <img src="/assets/images/plus.svg" alt="">
      Adicionar novo serviço
    </a>

    <!-- LISTAGEM DE SERVIÇOS -->
    <table>
      <thead>
        <tr>
          @foreach($fields as $field)
            <th>
              <span>
                <img src="{{assets('images/' . $field['icon'])}}" alt="" />

                {{$field['field']}}

                @if($field['arrow'])
                  <img src="{{assets('images/arrow.svg')}}" alt="" />
                @endif
              </span>
            </th>
          @endforeach
        </tr>
      </thead>
      <tbody>
        @foreach($data as $d)
          <tr data-id="{{$d->id}}">
            <td>
              <a href="/cliente/{{$d->id}}">{{$d->name}}</a>
            </td>
            <td>{{$d->car->brand}}</td>
            <td>{{$d->car->year}}</td>
            <td>{{$d->car->model}}</td>
            <td></td>
            <td></td>
          </tr>
        @endforeach
      </tbody>
    </table>
  </main>

  <!-- MENU DE AÇÕES -->
  <div class="menu">
    <a href="javascript:void(0)">Marcar/desmarcar como concluído</a>
    <a href="{{route('pages.update')}}" class="update-item">Alterar dados</a>
    <a href="javascript:void(0)" class="delete-item">Apagar</a>
  </div>

  <script src="{{assets('js/home.js')}}"></script>
</body>
</html>
